<html>
<head>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    
<div class="wrapper"> 
     <h2 style="color: aliceblue;">Results</h2>
        
        <h2>Clustered Output : </h2>
       <img src="../static/clustered_img.png" width="750" height="550">
        <h2>Encoded Images</h2>
    <img src="../static/cluster1_img_encoded.png" width="350" height="250">
    <img src="../static/cluster2_img_encoded.png" width="350" height="250">
    <img src="../static/cluster3_img_encoded.png" width="350" height="250">

       <button style="color:black" class="test" >
        <a href=../static/"cluster1_img_encoded.png" download>download 1</a>
       </button>
    <button style="color:black" class="test" >
        <a href=../static/"cluster2_img_encoded.png" download>download 2</a>
       </button>
    <button style="color:black" class="test" >
        <a href=../static/"cluster3_img_encoded.png" download>download 3</a>
       </button>
<br>
<br>
        <p style="color: aliceblue;">Developed by Shaun Pimenta(9222), Charmi Tank(9234), Mahek Intwala(9423)</p>

  
</div>
</body>
</html>