<html>
<head>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    
    <div class="wrapper fadeInDown">
    <div id="formContent">
       

      
        <div class="fadeIn first">
            <h2>CSS LAB 10 - Project</h2>
            <br>
        </div>

    
        <form>
            
            <a href="encrypt"><input type="button" value="Encrypt" id="encrypt"/></a>
            <a href="decrypt"><input type="button" value="Decrypt" id="decrypt"/></a>
        </form>

        <p>Developed by Shaun Pimenta(9222), Charmi Tank(9234), Mahek Intwala(9423)</p>

    </div>
</div>
</body>
</html>